"*":
  core:
    telemetryConsent: "limited"
    themes: [
      "atom-dark-ui"
      "xs-atom-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontSize: 12
    invisibles: {}
    showIndentGuide: true
    showInvisibles: true
    tabLength: 4
  "exception-reporting":
    userId: "4a75b17d-001f-d63c-d0c4-b1ff64d431f5"
  "markdown-preview":
    useGitHubStyle: true
  minimap:
    scrollAnimation: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: true
    removeTrailingWhitespace: false
